* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 310px;
  height: 420px;
  background-color: #00457B;
  border-radius: 20px 20px 10px 10px;
  margin-left: 100px;
  margin-bottom: 56px;

  .container-product {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #E0E0E0;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;

    .image {
      text-align: center;
      margin-top: 25px;

      img {
        border-radius: 10px;
        transition: 0.1s;
      }

      img:hover {
        width: 252px;
        height: 252px;
        box-shadow: 1px 1px 1px black;
        cursor: pointer;
      }
    }

    h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      width: 250px;
      height: 24px;
      margin-left: 25px;
    }

    h3:hover {
      font-size: 18px;
      text-decoration: underline;
      cursor: pointer;
    }

    .section-value {
      position: absolute;
      margin-top: 29px;

      .valor {
        display: flex;
        margin-left: 25px;
        width: 200px;

        h2 {
          font-family: 'Montserrat';
          font-weight: 500;
          font-size: 20px;
        }

        h2:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        p {
          width: 82px;
          height: 24px;
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 10px;
          margin-left: 14px;

          span {
            color: #00AEDA;
          }
        }

        p:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .obs {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        margin-left: 25px;
        margin-top: 9px;

        span {
          font-weight: bold;
        }
      }

      .obs:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}